*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

header{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #fff;
	height: 100px;
	padding: 10px;
	box-shadow: 0 0 6px rgba(0,0,0,0.3)
}

.title{
	font-size: 32px;
	font-weight: 600;
	color: #171717;
	text-transform: uppercase;
	line-height: 1;
}

.subtitle{
	font-size: 28px;
	font-weight: 300;
	color: #171717;
	text-transform: uppercase;
	line-height: 1;
}

.wild-pokemon{
	background: firebrick;
	min-height: 350px;
	padding: 15px;
}

.wild-pokemon h2{
	color:#f3f3f3;
	text-align: center;
	font-size: 32px;
	font-weight: 300;
	text-transform: uppercase;
}

.wild-pokemon img{
	display: block;
	margin: 0 auto;
	width: 150px;
}

.wild-pokemon h3{
	color: #f3f3f3;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
}

.wild-pokemon button{
	width: 200px;
	height: 35px;
	display: block;
	background: #FFCE00;
	margin: 25px auto;
	border: none;
	outline:none;
	color: #171717;
	font-weight: 700;
	cursor: pointer;
}

.wild-pokemon button:active{
	background: #F7a800;
}

.pokedex{
	flex: 1;
	padding: 15px;
	display: flex;
	flex-direction: column;
	overflow: scroll;
}

.pokedex-list{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
	grid-gap: 15px;
}

.pokedex-list .pokemon{
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 150px;
	padding: 15px;
	background: #f3f3f3;
}

.pokedex-list .pokemon .sprite{
	width: 100px;
}

.pokedex-list .pokemon .remove{
	position: absolute;
	top: 0;
	right: 0;
	height: 35px;
	width: 35px;
	line-height: 35px;
	font-size: 28px;
	border: none;
	outline:none;
	background: firebrick;
	color: #f3f3f3;
	cursor: pointer;
}